:root {
	--text-color: var(--p-surface-500);
	--card-bg: var(--p-surface-100);
	--border-color: rgb(from var(--p-orange-900) r g b / 30%);
	--border-radius-rounded: 30px;
	--border-radius: 8px;
	--selected-color: rgb(from var(--p-orange-300) r g b / 100%);
	--error-color: var(--p-red-400);
	--header-bg: rgb(from var(--p-surface-800) r g b / 50%);
	--background-surface: rgb(from var(--p-surface-200) r g b / 100%);
	--navbar-bg: rgb(from var(--p-surface-200) r g b / 100%);
	--bg-color: var(--p-primary-50);
}

@media (prefers-color-scheme: dark) {
    :root {
		--p-primary-color: var(--p-primary-300) !important;
		--text-color: var(--p-primary-50);
        --card-bg: var(--p-surface-900);
        --border-color: rgb(from var(--p-orange-200) r g b / 10%);
        --selected-color: rgb(from var(--p-orange-300) r g b / 100%);
        --error-color: var(--p-red-400);
        --header-bg: rgb(from var(--p-surface-800) r g b / 50%);
        --background-surface: rgb(from var(--p-surface-800) r g b / 50%);
        --navbar-bg: rgb(from var(--p-surface-800) r g b / 100%);
		--bg-color: rgb(from var(--p-primary-950) r g b / 10%);
		--color-contrast: rgb(from var(--p-amber-500) r g b / 100%);
    }
}
