:root {
	--card-bg: var(--p-surface-900);
	--border-color: rgb(from var(--p-orange-200) r g b / 10%);
	--selected-color: rgb(from var(--p-orange-300) r g b / 100%);
	--error-color: var(--p-red-400);
	--header-bg: rgb(from var(--p-surface-800) r g b / 50%);
	--background-surface: rgb(from var(--p-surface-800) r g b / 50%);
}
